docbook/src/docbkx/acme-temp.wadl

<!DOCTYPE application [

<!-- Bring in common entities from the openstack compute API -->
<!ENTITY % common  SYSTEM "https://raw.github.com/openstack/compute-api/master/openstack-compute-api-1.1/src/common.ent">
%common;

<!-- Extended faults -->
<!ENTITY extendedFaults '
        <response status="403" xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml" element="acme:notAllowed"/>
            <representation mediaType="applicaiton/json"/>
        </response>
'>

]>

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:acme="http://docs.acme.org/servers/api/ext/template/v1.0"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:atom="http://www.w3.org/2005/Atom">

    <grammars>
        <!--
            TODO: include XSDs here...
        -->
    </grammars>

    <resources base="https://api.openstack.com/v2/ACME-TEMP">
        <resource path="/ACME-TEMP/widgets" id="widgets">
            <method href="#getWidgets"/>
            <resource path="{widgetId}" id="widget">
                <param name="templateId" style="template" type="xsd:string">
                    <doc xml:lang="EN" title="Template ID">
                        <db:para>
                            A unique identifier for the widget.
                        </db:para>
                    </doc>
                </param>
                <method href="#getWidget"/>
                <method href="#deleteWidget"/>
            </resource>
        </resource>
    </resources>

    <!-- Methods -->
    <method name="GET" id="getWidgets">
        <doc xml:lang="EN" title="List Widgets">
            <db:para role="shortdesc">
                Get a list of templates.
            </db:para>
            <db:para>
                This operation returns a complete list of
                widgets.Suspendisse eu sapien elit. Duis vitae odio
                orci. Nunc nec nisl vel arcu condimentum
                adipiscing. Proin auctor, dui quis aliquet varius,
                nulla libero faucibus est, eu ullamcorper turpis enim
                id ante. Vivamus sem magna, egestas at mattis eget,
                eleifend in mauris. Duis in quam in magna sollicitudin
                sagittis. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis
                egestas. Aenean accumsan malesuada erat, ut volutpat
                neque hendrerit eget. Praesent et elit lacus. Proin
                dolor neque, mattis at ultricies ultrices, accumsan
                non orci. Proin sagittis lorem vitae justo hendrerit
                faucibus. Aliquam iaculis rhoncus orci, venenatis
                tempor turpis mollis a. Fusce at enim sed mauris
                lobortis ultrices.  Cras quam risus, tristique quis
                tincidunt ut, porttitor nec lacus. Nam eget dui eu
                quam ultrices lacinia quis id nunc.  Vestibulum
                dapibus arcu a purus sollicitudin ultrices.
            </db:para>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="acme:widgets">
                <doc xml:lang="EN">
                    <?hard-pagebreak?>
                    <xsdxt:code href="samples/widgets.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/widgets.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &extendedFaults;
    </method>

    <method name="GET" id="getWidget">
        <doc xml:lang="EN" title="Get Widget">
            <db:para role="shortdesc">
                Get a widget.
            </db:para>
            <db:para>
                This operation returns a widget. Suspendisse eu sapien
                elit. Duis vitae odio orci. Nunc nec nisl vel arcu
                condimentum adipiscing. Proin auctor, dui quis aliquet
                varius, nulla libero faucibus est, eu ullamcorper
                turpis enim id ante. Vivamus sem magna, egestas at
                mattis eget, eleifend in mauris. Duis in quam in magna
                sollicitudin sagittis. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac
                turpis egestas. Aenean accumsan malesuada erat, ut
                volutpat neque hendrerit eget. Praesent et elit
                lacus. Proin dolor neque, mattis at ultricies
                ultrices, accumsan non orci. Proin sagittis lorem
                vitae justo hendrerit faucibus. Aliquam iaculis
                rhoncus orci, venenatis tempor turpis mollis a. Fusce
                at enim sed mauris lobortis ultrices.  Cras quam
                risus, tristique quis tincidunt ut, porttitor nec
                lacus. Nam eget dui eu quam ultrices lacinia quis id
                nunc.  Vestibulum dapibus arcu a purus sollicitudin
                ultrices.
            </db:para>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="acme:widget">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/widget.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/widget.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &extendedFaults;
    </method>

    <method name="DELETE" id="deleteWidget">
        <doc xml:lang="EN" title="Delete Widget">
            <db:para role="shortdesc">
                Deletes a widget.
            </db:para>
            <db:para>
                This operation deletes a widget. Suspendisse eu sapien
                elit. Duis vitae odio orci. Nunc nec nisl vel arcu
                condimentum adipiscing. Proin auctor, dui quis aliquet
                varius, nulla libero faucibus est, eu ullamcorper
                turpis enim id ante.
            </db:para>
        </doc>
        <response status="204"/>
        <!-- Common, GET -->
        &commonFaults;
        &getFaults;
    </method>

</application>
